.signup {
    margin: 0 auto 10px auto;
    padding: 0px;
    width: 50%;
    /* background: black; */
}

.signup h2 {
    margin: 10px 0 0 0;
}

.signupForm {
    margin: 0;
    margin-bottom: 10px;
}

.backButton {
    position: relative;
    left: 35px;
}