/* --main-color: #3F88C5;
--very-dark-color: #140F2D;
--dark-accent-color: #330C2F;
--mid-accent-color: #7B287D;
--bright-accent-color: #F49D37; */

.UserInformationClass {
    background: var(--main-color);
    color: var(--fancy-white)
}